<%= form_for(@bidtype) do |f| %>
  <% if @bidtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bidtype.errors.count, "error") %> prohibited this bidtype from being saved:</h2>

      <ul>
      <% @bidtype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
