<p id="notice"><%= notice %></p>

<p>
  <b>Abbreviation:</b>
  <%= @bidtype.abbreviation %>
</p>

<p>
  <b>Description:</b>
  <%= @bidtype.description %>
</p>


<%= link_to 'Edit', edit_bidtype_path(@bidtype) %> |
<%= link_to 'Back', bidtypes_path %>
