<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Company:</b>
  <%= @vendor.company %>
</p>

<p>
  <b>Address:</b>
  <%= @vendor.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @vendor.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @vendor.city %>
</p>

<p>
  <b>State:</b>
  <%= @vendor.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @vendor.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @vendor.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @vendor.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @vendor.email %>
</p>


<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
